
@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap');

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ================== */
[class*="__container"]{
	max-width: 1215px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
body{
	font-family:'Lato';
	font-size: 20px;
}
/* ======================== */
.page{
	padding-top: 20px;
	text-align: center;
}
h2{
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 20px;
}
p{
	margin-bottom: 15px;
}
